
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h1 {
    font-family: "Apple Chancery", serif;
}

h2{
    font-family: "Apple Chancery", serif;
}


.docrob-tron {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 160px;
     align-items: center;
}
